.col-md-8 {
    border-right: 1px solid #d3d3d3;
}

.col-md-4 {
    margin-top: 2em;
    padding-left: 3em;
    text-align: center;
}

#sharing-stats {
    padding: 20px;
    border: 5px solid #d3d3d3;
    border-radius: 20px;
}

#sharing-stats p {
    text-align: left;
    font-size: 1.5em;
    font-weight: bold;
    color: #5CB85C;
    margin: 0;
}

#bottom-left-content {
    text-align: left;
    padding-left: 0;
}

.vert-scroll-div {
   margin-top: 1em;
   border: 1px solid #d3d3d3;
   border-radius: 30px;
   overflow: scroll;
   height: 475px;

}

.map-container {
    width: 100%;
    border: 3px solid #d3d3d3;
    border-radius: 10px;
}

