.main_logo { 
  background-image: url('sharingshrub.jpg');
  background-position: center;
  background-size: 1200px 700px;
  width: 100%;
  height: 700px;

}

.col-md-8 {
    border-right: 1px solid #d3d3d3;
}

.col-md-4 {
    margin-top: 2em;
    padding-left: 3em;
    text-align: center;
}

#sharing-stats {
    padding: 20px;
    border: 5px solid #d3d3d3;
    border-radius: 20px;
}

#sharing-stats p {
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    color: #3e3636;
    margin: 0;
}

#bottom-left-content {
    text-align: left;
    padding-left: 0;
    color: grey;
}

.vert-scroll-div {
   margin-top: 1em;
   border: 1px solid #d3d3d3;
   border-radius: 30px;
   overflow: scroll;
   height: 550px;
   padding: 40px;

}

.map-container {
    width: 100%;
    border: 3px solid #d3d3d3;
    border-radius: 10px;
}

.progress {
  height: 10px;
  width: 70% ;
}

 #cause_chart"{
    height: 150px;

 }

